@using MvcModules

@{
    ViewBag.Title = "Home Page";
}


<h1>My Simple Page with MVC Module</h1>
@ViewBag.Message


@section scripts {
    @*@Html.Require("~/bundles/simplehome")*@
    <script src="~/Scripts/simple-home.js"></script>
}