@using MvcModules

@{
    ViewBag.Title = "Home Page";
}


<h1>My Simple Page with MVC Module</h1>
<p class="text-danger"></p>


@section scripts {
    <script>@Html.RawResource(typeof(SimpleModule.MvcModule), "SimpleModule.Scripts.simple-home.js")</script>
}